@import '_buttons'
body
  font: 14px/100% Arial, Helvetica, sans-serif

h1
  color: #555

*
  margin: 30px


.orange
  @include stylish_button(#f78d1d)
.red
  @include stylish_button(#AA1317)
.blue
  @include stylish_button(#0078A5)
.rosy
  @include stylish_button(#BF404F)
.green
  @include stylish_button(#4E7D0E)
.pink
  @include stylish_button(#F171AB)
.gray
  @include stylish_button(#777)
