%h2 Pick the base color for your buttons:
%form{ :method => "POST", :action => "generate" }
  %input{ :type => "text", :name => "color", :value => "#{@color}", :class => "color" }
  %input{ :type => "submit", :value => "Submit" }

#response

%script{ :type => "text/javascript", :src => 'javascripts/vendor/jquery.js' }
%script{ :type => "text/javascript", :src => 'javascripts/generate.js' }
%script{ :type => "text/javascript", :src => 'javascripts/vendor/jscolor/jscolor.js' }
