<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/default.css' }
    %title Stylish buttons with CSS3

  %body
    %h1 Stylish buttons with CSS3

    %a.orange Orange
    %a.red Red
    %a.blue Blue
    %a.rosy Rosy
    %a.green Green
    %a.pink Pink
    %a.gray Gray
