<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => '/default.css' }
    %title Stylish buttons with CSS3

  %body
    %h1 Stylish buttons with CSS3


    %div
      %a.black Rectangle
      %a.black.rounded Rounded
      %a.black.medium Medium
      %a.black.small Small

    %div
      %a.gray Rectangle
      %a.gray.rounded Rounded
      %a.gray.medium Medium
      %a.gray.small Small

    -# %a.white White

    %div
      %a.orange Rectangle
      %a.orange.rounded Rounded
      %a.orange.medium Medium
      %a.orange.small Small

    %div
      %a.red Rectangle
      %a.red.rounded Rounded
      %a.red.medium Medium
      %a.red.small Small
    %div
      %a.blue Rectangle
      %a.blue.rounded Rounded
      %a.blue.medium Medium
      %a.blue.small Small
    %div
      %a.rosy Rectangle
      %a.rosy.rounded Rounded
      %a.rosy.medium Medium
      %a.rosy.small Small
    %div
      %a.green Rectangle
      %a.green.rounded Rounded
      %a.green.medium Medium
      %a.green.small Small
    %div
      %a.pink Rectangle
      %a.pink.rounded Rounded
      %a.pink.medium Medium
      %a.pink.small Small
