%p
  I always wondered how designers get the perfect combination of colors and effects. Like, for example, these super yummy
  %a{ :href => "http://www.webdesignerwall.com/demo/css-buttons.html"} pure-CSS buttons
  from
  %a{ :href => "http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/" } Web Designer Wall
  %span> .

%p
  So, I looked for a pattern for colors, and figured out how it works. Then I wrote some Sass mixins and now I can generate them starting from any color. The ones below, for example, I picked from
  %a{ :href => "http://lh5.ggpht.com/_TnpVkbNvkMc/TNDBR3sNA3I/AAAAAAAAy1Y/3p_t00F68C4/s400/IMG_1444.JPG" } my favourite hat.

.buttons
  %a.button.orange Green
  %a.button.green Pink
  %a.button.blue Violet
  %a.button.violet Orange
  %a.button.pink Blue

%h2 Get the goodness
%ul
  %li
    %h3 If you don't know Sass
    %p
      %a.button.black{ :href => "/generator" } Generate the CSS
      for any color you can imagine
  %li
    %h3 If you would die without Sass
    %ol
      %li
        %p
          Copy the
          %a{ :href => "stylesheets/sass/_buttons.sass" } Buttons mixins
          in your Sass folder
      %li
        %p Put this in your Sass file
        <script src="http://gist.github.com/655550.js?file=your.sass"></script>
      %li
        %p And this in your Haml file
        <script src="http://gist.github.com/655550.js?file=your.haml"></script>

    %p
      You'll get a nice button as an input field:
      %input.button.red{ :type => "submit", :value => "Submit" }
        and as a link:
      %a.button.red Click me
