<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/default.css' }
    %title= @title

  %body
    #content
      - if @navigation
        %nav
          - @navigation.each do |name, link|
            &#8226;
            - if link
              %a{ :href => link }= name
            - else
              =name

      %h1= @title

      = yield

    %footer
      %p
        code by
        %a{ :href => "http://dira.ro" } dira.ro
      %p
        Inspired by the
        %a{ :href => "http://www.webdesignerwall.com/tutorials/css3-gradient-buttons/" } CSS3 Gradient buttons tutorial
